@{
	ViewBag.Title = "İletisim";
}
<div class="container">
	<h2>İletisim</h2>
	<p><b>Adres:</b> karadeniz Mh. Mavi Deniz Cad No:1 İstanbul</p>
	<p><b>Telefon:</b> 0 532 123 45 67</p>
	<p><b>E-Posta:</b> eposta@eposta.com</p>
</div>